<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lodka.lodkanadejeapp">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.lodka.lodkanadejeapp.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.lodka.lodkanadejeapp.permission.MAPS_RECEIVE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/lodka"
        android:label="Loďka Nádeje"
        android:roundIcon="@mipmap/lodka"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:configChanges="screenSize"
            android:label="Loďka Nádeje"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="Loďka nádeje"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".MainActivity2"
            android:configChanges="orientation|screenSize"
            android:label="Loďka nádeje"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity3"
            android:configChanges="orientation|screenSize"
            android:label="Loďka nádeje"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings_activity"
            android:configChanges="orientation|screenSize"
            android:label="Loďka nádeje"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBia7XjvK6tM7V_NLpCygJGM2-mobkaM0s" />


    </application>

</manifest>